<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>

<body>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Password</th>
      <th>Balance</th>
      <th>Active</th>
    </tr>
    <tr>
      <td>{{data.name}}</td>
      <td>{{data.email}}</td>
      <td>{{data.phone}}</td>
      <td>{{data.password}}</td>
      <td>{{data.balance}}</td>
      <td>{{data.active}}</td>
    </tr>
  </table>

  <form action="/show" method="post">
    <label for="email">show user details: </label>
    <input type="email" id="email" name="email" placeholder="enter email to show details">
    <button type="submit">submit</button>
  </form>

  <form action="/active" method="post">
    <label for="email1">active user account: </label>
    <input type="email" id="email1" name="email" placeholder="enter user email">
    <button type="submit">submit</button>
  </form>


  <form action="/balance" method="post">
    <label for="email2">add balance: </label>
    <input type="email" id="email2" name="email" placeholder="enter user email">
    <input type="number" name="balance" placeholder="add balance to amount">
    <button type="submit">submit</button>
  </form>
</body>

</html>